@import url('https://fonts.googleapis.com/css2?family=Borel&family=Bungee&family=Cantora+One&family=Comic+Relief:wght@400;700&family=Edu+NSW+ACT+Cursive:wght@400..700&family=Jost:ital,wght@0,100..900;1,100..900&family=New+Rocker&display=swap');

body{
    font-size: 18px;
    font-family: Comic Relief, system-ui;
    text-align: center;
    padding: 20px;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://i.pinimg.com/originals/b7/44/9d/b7449d847c1f39c43f1e180c1120838d.gif);
    background-repeat: repeat;
    background-size:cover;
    background-position: center;
}

.container{
    width: 700px;
    padding: 20px;
    background-color: rgb(224, 210, 240);
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgb(49, 48, 49);
}

h1{
    font-size: 30px;
    color: #630baa;
    font-family:Comic Relief, system-ui ;
    text-shadow: 0px 4px 4px #58515f;
}

.menu, .quantidade{
    margin: 10px;
}

select, input{
    padding: 10px;
    font-size: 12px;
    margin-left: 10px;
}

button{
    padding: 15px;
    font-size: 12px;
    font-family: Comic Relief, system-ui;
    background-image: url(https://i.pinimg.com/736x/ca/23/b6/ca23b617b4aef807ba76506f6e9bcd0a.jpg);
    border-radius: 15px;
    cursor: pointer;
    color: white;
}
